<div class="container">
	<div class="headline-container">
		<h1>videodownloadr</h1>

		<img class="promo-image" src="/assets/promo.jpg" />

		<div class="textfield-container">
			<dav-textfield
				placeholder="Link to your video"
				[disabled]="loading"
				(change)="urlChange($event)"
			></dav-textfield>
		</div>

		<div class="preview-container" *ngIf="urlValid && videoTitle.length > 0">
			<dav-list-item
				[headline]="videoTitle"
				[subhead]="videoChannelName"
				[imageSrc]="videothumbnailUrl"
				imageAspectRatio="1:1"
			></dav-list-item>
		</div>

		<div class="download-button-container">
			<dav-button
				[disabled]="loading || !urlValid"
				(click)="downloadButtonClick()"
			>
				Download
			</dav-button>
		</div>

		<div class="description-section">
			<p>How to use</p>

			<ol>
				<li>Enter the URL to your YouTube video into the text field above</li>
				<li>Click "Download" to download the video</li>
			</ol>
		</div>
	</div>
</div>
